body{
    background-color: beige;
    color:brown;
    font-family: 'Monda', sans-serif;
}
head{
    font-size:16px
}
p1.ex{
    width:300px
}
.imagediv{
    float:middle;
}
#family{
    border-style:solid;
    width:425px;
    height:240px;
}
#locationlist{
    list-style-type: none;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #c2872f;
    overflow:hidden;
    color:black;
}
.navbar a {
    border:brown;
    border-style:double;
    float: left;
    text-align:center;
    padding:14px 16px;
}