body{
    background-color: beige;
    color:brown;
    font-family: 'Monda', sans-serif;
    width:425px;
}
head{
    font-size:16px
}
p{
    width:425px;
}
.imagediv{
    float:middle;
}
#family{
    border-style:solid;
    width:425px;
    height:240px;
    margin-top:10px;
}
#locationlist{
    list-style-type: none;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #c2872f;
    overflow:hidden;
    color:black;
}
.navbar a {
    border:brown;
    border-style:double;
    float: left;
    text-align:center;
    padding:10px 7px;
}